<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="reporting" type="System.Configuration.AppSettingsSection" />
  </configSections>

  <appSettings>
    <add key="Env" value="dev" />
  </appSettings>
      
  <reporting>
    <add key="Enabled" value="true" />
    <add key="DarkTheme" value="true" />
    <add key="ShowSteps" value="true" />
  </reporting>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>